@model ProjectWith.Models.Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fonction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fonction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CmptWin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CmptWin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateEntree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateEntree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Service)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee2.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee2.Nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Matricule }) |
    @Html.ActionLink("Back to List", "Index")
</p>
