@model ProjectWith.Models.EvaluatinGenN_1

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EvaluatinGenN_1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.performance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.performance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.commentaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commentaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tendance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tendance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntretienAnnuel.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntretienAnnuel.Nom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
