@model IEnumerable<ProjectWith.Models.AutoEvaluation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.theme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntretienAnnuel.Nom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.theme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntretienAnnuel.Nom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
